<ion-tabs class="tabs-light tabs-icon-top">
    <ion-tab title="News" href="#/tab/list" icon="ion-ios-paper">
        <ion-nav-view name="list-tab"></ion-nav-view>
    </ion-tab>
    
    <ion-tab title="Videos" href="#/tab/videos" icon="ion-ios-videocam">
        <ion-nav-view name="videos-tab"></ion-nav-view>
    </ion-tab>
    
    <ion-tab title="Events"  href="#/tab/events" icon="ion-ios-calendar">
        <ion-nav-view name="events-tab"></ion-nav-view>
    </ion-tab>
    
    <ion-tab title="User"  href="#/tab/user" icon="ion-person">
        <ion-nav-view name="user-tab"></ion-nav-view>
    </ion-tab>
</ion-tabs>